<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글 쓰기</title>
    <link rel="stylesheet" th:href="@{/board.css}"/>
    <Script>

    </Script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>글 쓰기</h1>
      </header>
      <main>
         <form class="form" th:action="@{/board/write}" method="post">
          <div class="form-group">
            <label for="title" >제목</label>
            <input type="text" id="title" name="title" required />
          </div>
          <div class="form-group">
            <label for="author">작성자</label>
            <input type="text" id="author" name="author" th:value="익명" readonly/>
          </div>
          <div class="form-group">
            <label for="content">내용</label>
            <textarea id="content" name="content" rows="10"  required></textarea>
          </div>
             <div class="button-container">
                 <button type="submit" class="button submit-button">저장</button>
                 <button type="button" class="button list-button" th:onclick="|location.href='@{/board/list}'|">목록</button>
             </div>
        </form>

      </main>
    </div>
  </body>
</html>
